AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterDefinitionReturnType: false
AllowShortIfStatementsOnASingleLine: false
BreakConstructorInitializers: BeforeColon
AlwaysBreakBeforeMultilineStrings: false
AllowShortCaseLabelsOnASingleLine: false
SpaceBeforeRangeBasedForLoopColon: true
AllowShortFunctionsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: false
ForEachMacros: ["foreach", "Q_FOREACH"]
ObjCBreakBeforeNestedBlockParam: false
AlwaysBreakTemplateDeclarations: true
SpaceBeforeCtorInitializerColon: true
AllowShortLambdasOnASingleLine: false
BreakAfterJavaFieldAnnotations: false
EmptyLineBeforeAccessModifier: Always
SpaceAroundPointerQualifiers: Default
PackConstructorInitializers: NextLine
ConstructorInitializerIndentWidth: 4
BreakBeforeConceptDeclarations: true
SpaceBeforeAssignmentOperators: true
AllowShortBlocksOnASingleLine: false
SpacesInCStyleCastParentheses: false
SpaceBeforeParens: ControlStatements
AlignConsecutiveDeclarations: false
AllowShortEnumsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
EmptyLineAfterAccessModifier: Never
SpacesInConditionalStatement: false
PenaltyReturnTypeOnItsOwnLine: 200
AlignConsecutiveAssignments: false
AllowAllArgumentsOnNextLine: false
ObjCSpaceBeforeProtocolList: false
BreakBeforeTernaryOperators: true
SpaceBeforeInheritanceColon: true
BreakBeforeBinaryOperators: false
IndentWrappedFunctionNames: false
SpaceBeforeCpp11BracedList: false
AlwaysBreakAfterReturnType: None
AlignConsecutiveBitFields: false
SpaceAfterTemplateKeyword: false
SpaceBeforeSquareBrackets: false
SeparateDefinitionBlocks: Always
LambdaBodyIndentation: Signature
BreakInheritanceList: AfterComma
SpacesBeforeTrailingComments: 1
SpacesInContainerLiterals: true
ObjCBinPackProtocolList: Never
SpaceInEmptyParentheses: false
IndentPPDirectives: BeforeHash
DerivePointerAlignment: false
SpacesInSquareBrackets: false
AlignArrayOfStructures: Left
AlignConsecutiveMacros: true
IndentAccessModifiers: false
ObjCSpaceAfterProperty: true
AlignAfterOpenBracket: Align
AlignTrailingComments: true
JavaScriptWrapImports: true
SortUsingDeclarations: true
FixNamespaceComments: false
IndentRequiresClause: false
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeCaseColon: false
ReferenceAlignment: Pointer
SortIncludes: CaseSensitive
ContinuationIndentWidth: 4
AlignEscapedNewlines: Left
BitFieldColonSpacing: Both
Cpp11BracedListStyle: true
InsertTrailingCommas: None
SpacesInParentheses: false
NamespaceIndentation: All
BreakStringLiterals: true
BreakBeforeBraces: Allman
AccessModifierOffset: -4
QualifierAlignment: Left
CompactNamespaces: false
SpaceInEmptyBlock: false
JavaScriptQuotes: Double
ObjCBlockIndentWidth: 4
BinPackParameters: true
IndentExternBlock: true
PointerAlignment: Right
RemoveBracesLLVM: false
MaxEmptyLinesToKeep: 1
BinPackArguments: true
DeriveLineEnding: true
IndentCaseLabels: true
IndentGotoLabels: true
SpacesInAngles: false
ReflowComments: true
DisableFormat: false
IncludeBlocks: Merge
AlignOperands: true
InsertBraces: true
PPIndentWidth: 4
ColumnLimit: 100
Standard: Latest
IndentWidth: 4
Language: Cpp
UseTab: Never
TabWidth: 4
